/*general styling*/

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;            /*for auto scroll on home page, making sure it doesnt scroll too much*/
}

body.main {
  background: url("Images/Background\(4k\).png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Poppins", sans-serif;
  color: #545454;
  margin: 0;
  min-height: 100vh;                    /*min-height is for header to stick to the bottom of the page*/
  display: flex;
  flex-direction: column;
}

/*universal header*/

header {
  position: fixed;                      /*fix header on top of page*/
  top: 0;                                   
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 24px;          
  margin: 0;                                       
  z-index: 10;                          /*making sure it stays on top when scrolling*/
}
header.default {
  background-color: transparent;        /*clear header for some pages*/
  opacity: 1;
  border-bottom: 0px;
}
header.homeHeader {      
  background-color: #fff;
  opacity: 1;
  border-bottom: 0px;
}
.navBar {
  padding-right: 40px;
  padding-left: 40px;
}
.navDiv {                               /*nav container, to space out the "welcome" and the navigation for other pages*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
display: flex;
align-items: center;
}
.icon img {
display: block;
}
p.icon {
color: #fff;
}
p.iconHome {
  color: #545454;
}
span.spanIcon {
  color: #ffffff;
  padding-right: 10px;
}
span.spanIconHome {
  color: #003f7f;
  padding-right: 10px;
}
ul {
  margin: 0;
}
li.home, li.homeButton {
  color: #fff;
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
li.home a{
  color:white;
  font-weight: 400;
  text-decoration: none;
}
li.homeButton a{
  color:white;
  font-weight: 400;
  text-decoration: none;
}
button {                              /*contact us button*/
  background-color:#214796;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-right: 0;
  border: 0px;
  padding: 12px;
  border-radius: 15px;
  color:white;
  text-decoration: none;
}
.logout {
  background-color: transparent;
  font-size: 15px;
  color: #fff;
}

/*Light/Scroll Header*/
 
header.lightHeader {                  /*alternate header style to match background for other pages*/
  background-color: #fff;
  opacity: 1;
}
.navBarLight {
  padding-right: 40px;
  padding-left: 40px;
}
span.spanIconLight {
  color: #214796;
  padding-right: 10px;
}
li.lightNav, li.lightButton {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
li.lightNav a{
  color: #545454;
  font-weight: 400;
  text-decoration: none;
}
li.lightButton a{
  color: #fff;
  text-decoration: none;
}
li.home a.lightNav {
  color: #545454; 
}
.lightIcon {
  color: #545454;
}
.lightLogout {
  background-color: transparent;
  font-size: 15px;
  color: #545454;
}

/*Universal Footer*/

footer {                         /*same footer styling for all pages*/
  background-color: #214796;
  width: 100%;
  padding: 0;
  margin-top: auto;
}
div.footerContainer {
  width: 45%;
  padding-top: 10px;
  padding-bottom: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}
.footerContainer img {
  margin-top: 7px;
  align-self: flex-start;       /*flex-start to put img position on top of the div to align with other footer content*/
}
.footerContainer ul {
  margin-top: 0;
}
li.footerLink {
  list-style: none;
  margin-bottom: 0;
}
li.footerLink a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.footerContainer address {
  color: #fff;
}
img.contactIcons {
  vertical-align: middle;        /*vertically align the icons to the middle with the content in address*/
  margin-top: 0;
  margin-right: 5px;
  height: 17px;
}
address a {
  color: #fff;
  text-decoration: none;
}
div.copyright {
  background-color: #003f7f;
  padding: 10px;
  text-align: center;
  margin-top:5px;
}
div.copyright p {
  color: white;
  margin: 0;
}
span.designer {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
label.footerLabel {
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

/*Login Page */

div.login {
  background-color: rgba(212, 240, 255, 0.8);
  width: 15%;
  padding: 25px 30px 25px 30px;
  border-radius: 22px;
  display: block;
  margin: auto;
  margin-top: 12%;
}
#login {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  display: block;
  width: 100%;
}
.loginForm {
  font-weight: 400;
  font-size: 18px;
}
.loginInput {
  background-color: rgba(212, 240, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /*to have a visual separation with the container*/
  border: 0px;
  border-radius: 7px;
  width: 91%;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.loginSubmit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #214796;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  padding: 9px 15px 9px 15px;
  margin-top: 12px;
  width: 40%;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

/*home title*/

.titleBackground {
  background-color: #fff;
  background-size: 100%;
  font-family: "Poppins", sans-serif;
  color: #545454;
  margin: 0;
  min-height: 100vh;                  
  display: flex;
  flex-direction: column;
}
.divTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  background: url("Images/turtle.jpg") no-repeat center center;
  background-size: cover;
}
.divTitleContainer {         /*container for the "SDG 14: Life below water" text*/
  display: flex;             /*to properly positon title elements side by side*/
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.pTitle {                   /*SDG 14 element*/
  color: #214796;
  font-weight: 700;
  font-size: 160px;
  width: 50%;
  padding-right: 20px;
  text-align: right;
}
.titleContainer {           /*contains the "life below water" and "read more" elements*/
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}
.spanTitle {                 
  color: #fff;
  font-weight: 400;
  font-size: 50px;
}
#spanReadMore {              /*the auto scroll href*/
  color: #fff;
  font-weight: 400;
  font-size: 15px;     
  text-decoration: none;
}
#learnMore {                 /*arrow down image positioning*/
  padding-left: 5px;
  vertical-align: middle;
}

/*home content */

div.content {                      /*this is where the read more scrolls to*/
  margin-bottom: 8%;
  display: block;
}
div.whyContainer {                 /*contains why title and reason elements*/
  margin: auto;
  max-width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
h1.pWhy {
  color: #545454;
  font-size: 70px;
  font-weight: 600;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  align-items: flex-start;
}
p.whyContent {
  font-size: 27px;
  font-weight: 400;
  width:50%;
  padding-top: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
div.goalsContainer {                /*contains the what we can do elements*/
  margin: auto;
  margin-top: 15px;
  max-width: 60%;
}
h2.pGoal {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
div.goalsRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 22px;
}
p.goal {
  width: 50%;
  padding: 5px;
  margin-top: 0;
}
abbr {
  text-decoration: none;
}

/*Projects Content*/

.projectContainer {                                 /*contains all images and overlay content*/
  background-color: rgba(212, 240, 255, 0.8);
  width: 60%;
  height: 600px;
  padding: 25px;
  border-radius: 22px;
  display: flex;
  gap: 15px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  overflow: hidden;
}
#firstColumn, #thirdColumn, #secondColumn { 
  position: relative;         /*to ensure all contents dont overflow the container*/
  height: 100%;
  width: 33%;
}
#firstColumn, #secondColumnTop, #secondColumnBot, #thirdColumnTop, #thirdColumnBot {
  position: relative;
}
#secondColumnTop {                                  /*top content for 2nd column*/
  height: 32%;
  padding-bottom: 12px;
}
#secondColumnBot {                                   /*bottom content for 2nd column*/
  height: 66%;
}
#thirdColumnTop {                                    /*same with second column style*/
  height: 66%;
  padding-bottom: 12px;
}
#thirdColumnBot {
  height: 32%;
}
div.projectContainer img {                           /*to make sure images will not overflow*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}
.eachProjectTitle {
  padding-left: 5px;
  margin: 0;
  text-align: left;
}
.projectDesc {
  padding-left: 5px;
  font-size: 12px;
  margin: 0;
}
.hoverOverlay {
  width: 100%;
}
.contentHover {                                   /*styling for content when hovered*/  
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(212, 240, 255, 0.2); 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;                        /*hover transition*/
  z-index: 2;                                      /*make sure its over the images*/
  border-radius: 10px
}

.hoverOverlay:hover .contentHover {
  opacity: 1;                                      /*show content when hovered*/
}

/*Contact Content*/

#contactContainer {                                /*contact contents container*/
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-top: 5%;
  margin-bottom: 2%;
}
div.divContact {
  color: #fff;
  width: 50%;
  padding-right: 100px;
  align-self: flex-start;
}
div.contactForm {                                   /*forms styling*/
  background-color: #d4f0ff;
  border-radius: 15px;
  width: 90%;
  padding: 29px;
}
div.formContainer {
  width: 40%;
  display: flex;
  justify-content: right;
}
p.contactHead {
  font-size: 100px;
  font-weight: 500;
  margin:0;
}
p.contactDescription {
  font-size: 24px;
  margin: 0;
}
.contactAlt {
  font-size: 20px;
}
.contactInput,#concernTextArea {                   /*input areas*/
  background-color: rgba(212, 240, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);      /*box-shadow for visual separation*/
  border: 0px;
  border-radius: 7px;
  width: 95%;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.contactInput {
  height: 30px;
}
#concernTextArea {
  height:180px;
  resize: none;
}
#contactSubmit {                                   /*submit button*/
  display: block;
  margin-left: 0;
  margin-right: auto;
  background-color: #214796;
  color: #fff;
  border: 0px;
  border-radius: 7px;
  padding: 9px 15px 9px 15px;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
#thanksContainer {
  display: none;
  margin: auto;
  width: 70%;
}
#contactThanks {
  font-size: 90px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}
#thanksDesc {
  font-size: 24px;
  margin-top: 0;
  color: #fff;
  text-align: center;
}
#returnContact {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
  
/*Developers Content*/

body.bodyDev {                         /*different styling for dev page*/
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  color: #545454;
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}
div.devContainer {                      /*dev content container*/
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  max-width: 75%;
  margin: auto;
}
div.Keith, div.Ethan {                   /*spacing between devs*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.Keith {
  align-self: flex-start;
  text-align: right;
}
div.Keith, div.ethanContainer {
  width: 50%;
}
div.Ethan {
  text-align: left;
  margin-top: 50px;
}
img.portrait {
  border-radius: 12px;
}
div.Keith p, div.Ethan p {
  margin: 10px;
  font-size: 20px;
}
img.portrait {
  margin: 10px;
}
div.devContainer a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #214796;
}
img.socials {
  border-radius: 0px;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}
p.devText {
  text-align: left;
  font-size: 80px;
  font-weight: 600;
  color: #214796;
  margin: 0;
  line-height: 1;                   /*adjust spacing around text to put it closer*/
}
p.devIntro {
  text-align: left;
  font-size: 40px;
  color: #545454;
  margin: 0;
  line-height: 1;
}
p.nameP {
  color: #214796;
  font-weight: 600;
  font-size: 30px;
}